/* General styling that applies to all the pages */

h1 {
    top: 8px;
    left: 16px;
    color: red;
    text-shadow: 0.5px 0.5px gray;
}

body {
    font-family: Georgia, Cambria, "Times New Roman", serif;
}

.company {
    position: absolute;
    top: 8px;
    left: 16px;
    color: red;
    text-shadow: 0.5px 0.5px gray;
}


/* Styling the login page */

userdetail {
    text-align: right;
}

header,
.loginForm {
    background-image: url("images/header\ books.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.loginForm {
    background-image: url("images/background\ books.jpg");
    min-height: 580px;
}

form {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 350px;
    padding: 16px;
    background-color: white;
    border: 3px solid #f1f1f1;
    text-align: center;
    width: 30%;
    align-items: center;
}

form div input[type=text],
form div input[type=password],
form div input[type=email],
form div input[type=number] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form div button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

form div button:hover,
.button:hover,
.confirmation-button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    background-color: #f1f1f1;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Styling the Icons for Book and CDs */

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 500px;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover,
ul li:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 77%;
    border-left: none;
    overflow: auto;
}

.tabcontentcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 12px;
    padding-top: 5px;
    margin: 15px;
}


/*Styling the list of books and CDs*/

.column {
    float: left;
    width: 18%;
    height: 300px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    color: grey;
}

.button,
.confirmation-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid white;
}


/* Styling checkout page */

.form-popup {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index: 9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 10px;
    width: 25%;
    max-height: 90%;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f1f1f1;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
    background-color: #f1f1f1;
}

.close:hover {
    background-color: #bbb;
}


/* Styling confirmation page */

confirmation {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialogBox-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.closeConfirmation {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeConfirmation:hover,
.closeConfirmation:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.confirmation-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.confirmation-body {
    padding: 2px 16px;
    background-color: white;
}

.confirmation-button {
    width: 20%;
    margin: 5px;
}

.notifButton {
    background-color: rgb(0, 0, 0, 0.2);
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    border: none;
    color: white;
}

.notifButton:hover {
    background-color: rgb(0, 0, 0);
}

.notif {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
}


/* Styling Drop down */

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}